body {
  height: 100%;
  margin-right: 0;
  /* The image used */
  background-image: url("un.gif");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Honk';font-size: 50px;
  color: white;
  text-align: center;
}

p {
  color: white;
  font-family: 'Honk';font-size: 22px;
  font-size: 20px;
}

header{
font-family: 'Honk';font-size: 100px;
  font-size: 100px;
  color: white;
}
div {
  flex-wrap: wrap;

}
img {
  width: 300px;
  height: 500px;
}
